@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "The Challenge";
}

<fieldset>
    <legend>The Challenge</legend>
    
    <h3>Thursday 4th July to Saturday 6th July 2013</h3>

    <p>In July 2013 24 friends of West Hill School will tackle the National 
        Three Peaks Challenge to raise money for a fabulous new foundation stage area and for the South West Childrens Hospice charity.</p>
    
        
    <p>The Three Peaks Challenge involves climbing the highest peaks in Britain, which are:</p>
    <ul>
        <li>Ben Nevis (1,344m), Scotland</li>  
        <li>Scafell Pike (978m), England</li>  
        <li>Snowdon (1,085m) Wales</li>  
    </ul>

    <p>    
        Not only will the team climb the three peaks, but they will climb them all within 24 hours.  In total, the journey entails hiking 42 horizontal kilometres, ascending 3,000 vertical metres and traveling 725 kilometres between the three mountains.  The challenge lies in the physical exhaustion, lack of sleep and dangerous conditions in this fight against the clock. 
    </p>

    <p>
        All donations are encouraged and gratefully received for this tough challenge!  <a href="@Href("~/Home/Sponsorship")">Click here to sponsor us.</a>
    </p>

   
</fieldset>


<fieldset>
    <legend>24 Hour Challenge Itinerary</legend>
    
    <p>The 18 walkers and 6 drivers will split into 3 groups each containing 6 walkers and 2 drivers. These teams will aim to follow the below times.</p>

    <table>
        <tr>
            <td>Thursday 8am</td>
            <td>leave West Hill: 9 - 11 hour drive</td>
        </tr>
        <tr>
            <td>Thursday 5pm -7pm</td> 
            <td>arrive at The Ben Nevis Inn bunkhouse</td>
        </tr>
        <tr>
            <td>Friday am</td>	
            <td>morning and early afternoon at leisure</td>
        </tr>
        <tr>
            <td>Friday 4pm</td>
            <td>start Ben Nevis</td>
        </tr>
        <tr>
            <td>Friday 9pm</td>	
            <td>finish Ben Nevis</td>
        </tr>
        <tr>
            <td>Saturday 3am</td>
            <td>start Scafell Pike</td>
        </tr>
        <tr>
            <td>Saturday 8am</td>
            <td>finish Scafell Pike</td>
        </tr>
        <tr>
            <td>Saturday 12 noon</td>
            <td>start Snowdon</td>
        </tr>
        <tr>
            <td>Saturday 4pm</td>
            <td>finish Snowdon</td>
        </tr>
        <tr>
            <td>Saturday 10pm</td>
            <td>arrive back in West Hill / stay in a Travelodge on way back - to be discussed</td>
        </tr>
    </table>
</fieldset>



