@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Sponsorship";
}

<fieldset>
    <legend>Sponsorship</legend>

    <p>We are undertaking this challenge in order to raise valuable funds for the following two great causes</p>

    <ul>
        <li>Creating a fantastic foundation space for the reception children, replacing the existing conservatory.</li>
        <li>The South West Childrens Hospice.</li>
    </ul>
    

</fieldset>


<fieldset>
    <legend>Making a donation</legend>

    <p>Our online sponsorship pages are active now and we are desperate for your support.
    Thank you in advance and <a href="https://twitter.com/intent/user?screen_name=WestHill3Peaks" target="_twitter">follow us on twitter</a> to keep up to date with the news.</p>

    <p>You can donate and support us by clicking on the link below or by seeking 
        out one of the <a href="@Href("~/Home/About")">walkers or drivers</a> from the challenge and filling in their sponsorship forms. Thank you and please give generously.</p>

    <p><a href="http://uk.virginmoneygiving.com/WestHillPrimaryThreePeaks " target="_sponsorship" title="Link opens in a new window"><img src="../../Content/images/MakeADonation2.gif" border="0" style="padding-top:7px;" alt="Make a donation using Virgin Money Giving"></a></p>

</fieldset>


