@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "3D Maps";
}

<fieldset>
    <legend>Great 3D Map Ben Nevis</legend>
    
    <a href="http://www.flickr.com/photos/westhill3peaks/8700460179/" title="Ben-tourist-map-large by WestHill3Peaks, on Flickr"><img src="http://farm9.staticflickr.com/8135/8700460179_964405d892_b.jpg" width="928" height="624" alt="Ben-tourist-map-large"></a>
</fieldset>

<fieldset>
    <legend>Great 3D Map Scafell</legend>
    
    <a href="http://www.flickr.com/photos/westhill3peaks/8700460103/" title="Scafell-Wasdale by WestHill3Peaks, on Flickr"><img src="http://farm9.staticflickr.com/8263/8700460103_8d630fa595_b.jpg" width="1000" height="485" alt="Scafell-Wasdale"></a>
</fieldset>

<fieldset>
    <legend>Great 3D Map Snowdon</legend>
    
    <a href="http://www.flickr.com/photos/westhill3peaks/8701582952/" title="Snowdon-Watkin by WestHill3Peaks, on Flickr"><img src="http://farm9.staticflickr.com/8555/8701582952_0b7dfbb55e_b.jpg" width="1000" height="742" alt="Snowdon-Watkin"></a>
</fieldset>








