@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = " Weather on the mountains";
}

<div style="float: left;">
    <fieldset>
    <legend>Ben Nevis - West Highlands</legend>
        <script type="text/javascript">// <![CDATA[
               moColourScheme = "blue"; moDomain = "www.metoffice.gov.uk"; moMountainArea = "westhighland"; moMapsRequired = "Precip Rate LR,Pressure MSL,Temperature LR"; moTemperatureUnits = "C";
                   // ]]&gt;</script><script type="text/javascript" src="http://www.metoffice.gov.uk/public/pws/components/mountain/loader.js">// <![CDATA[
                   // ]]&gt;</script>
    </fieldset>
</div>
<div style="float: left; width:10px;">&nbsp;</div>
<div style="float: left;">
    <fieldset>
    <legend>Scarfell Pike - Lake District</legend>
        <script type="text/javascript">// <![CDATA[
               moColourScheme = "blue"; moDomain = "www.metoffice.gov.uk"; moMountainArea = "lakedistrict"; moMapsRequired = "Precip Rate LR,Pressure MSL,Temperature LR"; moTemperatureUnits = "C";
                   // ]]&gt;</script><script type="text/javascript" src="http://www.metoffice.gov.uk/public/pws/components/mountain/loader.js">// <![CDATA[
                   // ]]&gt;</script>
    </fieldset>
</div>
<div style="float: left; width:10px;">&nbsp;</div>
<div style="float: left;">
    <fieldset>
    <legend>Snowdon - Snowdonia</legend>
        <script type="text/javascript">// <![CDATA[
                   moColourScheme = "blue"; moDomain = "www.metoffice.gov.uk"; moMountainArea = "snowdonia"; moMapsRequired = "Precip Rate LR,Pressure MSL,Temperature LR"; moTemperatureUnits = "C";
                       // ]]&gt;</script><script type="text/javascript" src="http://www.metoffice.gov.uk/public/pws/components/mountain/loader.js">
                   // <![CDATA[
                       // ]]&gt;</script>
    </fieldset>
</div>    